In [1]:
from ibapi.client import EClient
from ibapi.wrapper import EWrapper
from ibapi.contract import Contract

import ibapi
import pandas as pd

import threading
import time

from datetime import datetime

today = str(datetime.now())
year = today[:4]
month = today[5:7]
day = today[8:10]


class IBapi(EWrapper, EClient):
    def __init__(self):
        EClient.__init__(self, self)
        self.data = [] #Initialize variable to store candle

    def historicalData(self, reqId, bar):
        #print(f'Time: {bar.date} Open: {bar.open} High: {bar.high} Low: {bar.low} Close: {bar.close} Volume {bar.volume}')
        self.data.append([bar.date, bar.open, bar.high, bar.low, bar.close, bar.volume])
        
def run_loop():
    app.run()


# app = IBapi()
# app.connect('127.0.0.1', 7497, 125)

# #Start the socket in a thread
# api_thread = threading.Thread(target=run_loop, daemon=True)
# api_thread.start()

# time.sleep(1) #Sleep interval to allow time for connection to server

vix_list = ['VIX', 'IND', 'CBOE', 'USD'] #
vxn_list = ['VXN', 'IND', 'CBOE', 'USD'] #
rvx_list = ['RVX', 'IND', 'CBOE', 'USD'] #
vxo_list = ['VXO', 'IND', 'CBOE', 'USD'] #
skew_list = ['SKEW', 'IND', 'CBOE', 'USD'] #
vvix_list = ['VVIX', 'IND', 'CBOE', 'USD'] #      
spx_list = ['SPX', 'IND', 'CBOE', 'USD'] #
spy_list = ['SPY', 'STK', 'SMART', 'USD'] #
rut_list = ['RUT', 'STK', 'NYSE', 'USD']
gld_list = ['GLD', 'STK', 'SMART', 'USD'] #


data_list = [vix_list, vxn_list, rvx_list, vxo_list, skew_list, vvix_list, spx_list, spy_list, gld_list]
#data_list = [rut_list]
print(data_list)

for ticker in data_list:
    

    app = IBapi()
    app.connect('127.0.0.1', 7497, 125)

    #Start the socket in a thread
    api_thread = threading.Thread(target=run_loop, daemon=True)
    api_thread.start()

    time.sleep(1) #Sleep interval to allow time for connection to server
    print(ticker)
    #Create contract object
    def index_contract(symbol, secType=ticker[1], exchange=ticker[2]):
        ''' custom function to create contract '''
        contract = Contract()
        contract.symbol = symbol
        contract.secType = secType
        contract.exchange = exchange
        contract.currency = ticker[3]
        return contract
    
    print(ticker[0])
    
    temp_contract = index_contract(ticker[0])
    print(temp_contract)
    #Request historical candles
    #app.reqHistoricalData(1, eurusd_contract, '20220504 9:00:00', '1 D', '1 min', 'TRADES', 0, 2, False, [])
    app.reqHistoricalData(1, temp_contract, '{}{}{}-16:00:00'.format(year, month, day), '10 Y', '1 Day', 'TRADES', 1, 2, False, [])
    time.sleep(5) #sleep to allow enough time for data to be returned


    df = pd.DataFrame(app.data, columns=['DateTime', 'Open', 'High', 'Low', 'Close', 'Volume'])
    df['DateTime'] = pd.to_datetime(df['DateTime']) 
    df.set_index('DateTime', inplace=True)
    df.columns = [ticker[0] + '_' + i for i in df.columns]
    
    if len(df) < 0:
        break
    
    df.to_csv(r'daily_data\{}-daily.csv'.format(ticker[0]))  

    display(df.head())
    
    app.disconnect()
    
    time.sleep(10)

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

[['VIX', 'IND', 'CBOE', 'USD'], ['VXN', 'IND', 'CBOE', 'USD'], ['RVX', 'IND', 'CBOE', 'USD'], ['VXO', 'IND', 'CBOE', 'USD'], ['SKEW', 'IND', 'CBOE', 'USD'], ['VVIX', 'IND', 'CBOE', 'USD'], ['SPX', 'IND', 'CBOE', 'USD'], ['SPY', 'STK', 'SMART', 'USD'], ['GLD', 'STK', 'SMART', 'USD']]
['VIX', 'IND', 'CBOE', 'USD']
VIX
0,VIX,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            VIX_Open  VIX_High  VIX_Low  VIX_Close  VIX_Volume
DateTime
2013-05-22     13.45     14.45    13.05      13.82           0
2013-05-23     14.94     15.11    13.87      14.07           0
2013-05-24     14.59     14.79    13.99      13.99           0
2013-05-28     13.67     14.56    13.56      14.48           0
2013-05-29     15.30     15.65    14.59      14.83           0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['VXN', 'IND', 'CBOE', 'USD']
VXN
0,VXN,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            VXN_Open  VXN_High  VXN_Low  VXN_Close  VXN_Volume
DateTime
2013-05-22     14.36     15.04    13.26      14.73           0
2013-05-23     15.52     15.64    14.40      14.89           0
2013-05-24     14.89     15.39    14.48      14.48           0
2013-05-28     14.48     14.99    13.49      14.99           0
2013-05-29     14.97     15.74    14.97      15.18           0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['RVX', 'IND', 'CBOE', 'USD']
RVX
0,RVX,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            RVX_Open  RVX_High  RVX_Low  RVX_Close  RVX_Volume
DateTime
2013-05-22     17.53     19.45    17.04      18.86           0
2013-05-23     19.98     20.26    18.65      18.65           0
2013-05-24     19.30     19.69    18.52      18.62           0
2013-05-28     18.51     19.73    18.04      19.30           0
2013-05-29     19.92     20.82    19.49      19.61           0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['VXO', 'IND', 'CBOE', 'USD']
VXO
0,VXO,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            VXO_Open  VXO_High  VXO_Low  VXO_Close  VXO_Volume
DateTime
2013-05-22     12.86     14.12    12.58      13.57           0
2013-05-23     14.76     14.87    13.41      13.68           0
2013-05-24     14.04     14.59    13.74      13.87           0
2013-05-28     12.81     13.79    12.75      13.78           0
2013-05-29     14.71     15.26    14.03      14.31           0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['SKEW', 'IND', 'CBOE', 'USD']
SKEW
0,SKEW,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            SKEW_Open  SKEW_High  SKEW_Low  SKEW_Close  SKEW_Volume
DateTime
2013-05-22     117.16     117.16    117.16      117.16            0
2013-05-23     116.92     116.92    116.92      116.92            0
2013-05-24     118.17     118.17    118.17      118.17            0
2013-05-28     112.47     112.47    112.47      112.47            0
2013-05-29     116.20     116.20    116.20      116.20            0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['VVIX', 'IND', 'CBOE', 'USD']
VVIX
0,VVIX,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            VVIX_Open  VVIX_High  VVIX_Low  VVIX_Close  VVIX_Volume
DateTime
2013-05-22      86.04      89.79     85.51       88.23            0
2013-05-23      92.31      93.71     87.07       87.40            0
2013-05-24      88.33      88.71     83.34       83.88            0
2013-05-28      83.39      83.87     81.82       82.65            0
2013-05-29      83.65      85.42     81.22       81.72            0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['SPX', 'IND', 'CBOE', 'USD']
SPX
0,SPX,IND,,0.0,,,CBOE,,USD,,,False,,combo:

            SPX_Open  SPX_High  SPX_Low  SPX_Close  SPX_Volume
DateTime
2013-05-22   1669.39   1687.18  1648.86    1655.35           0
2013-05-23   1651.62   1655.50  1635.53    1650.51           0
2013-05-24   1646.67   1649.78  1636.88    1649.60           0
2013-05-28   1652.63   1674.21  1652.63    1660.06           0
2013-05-29   1656.57   1656.57  1640.05    1648.36           0

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['SPY', 'STK', 'SMART', 'USD']
SPY
0,SPY,STK,,0.0,,,SMART,,USD,,,False,,combo:

ERROR 1 2176 Warning: Your API version does not support fractional share size rules. Please upgrade to a minimum version 163. Trimmed value 763272.34 to 763272

            SPY_Open  SPY_High  SPY_Low  SPY_Close  SPY_Volume
DateTime
2013-05-22    167.34    169.07   165.17     165.92     2029300
2013-05-23    164.17    165.91   163.94     165.45     1769732
2013-05-24    164.46    165.38   163.98     165.33     1075486
2013-05-28    167.04    167.78   165.29     166.30     1213628
2013-05-29    165.42    165.80   164.34     165.22     1411097

ERROR -1 2104 Market data farm connection is OK:usbond
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

['GLD', 'STK', 'SMART', 'USD']
GLD
0,GLD,STK,,0.0,,,SMART,,USD,,,False,,combo:

ERROR 1 2176 Warning: Your API version does not support fractional share size rules. Please upgrade to a minimum version 163. Trimmed value 67215.85 to 67215

            GLD_Open  GLD_High  GLD_Low  GLD_Close  GLD_Volume
DateTime
2013-05-22    134.18    136.77   130.95     131.94      236967
2013-05-23    134.51    134.84   133.12     134.61       91962
2013-05-24    134.11    134.51   133.64     133.76       50509
2013-05-28    133.68    135.57   132.80     133.49      111059
2013-05-29    134.09    134.91   133.64     134.83       75377